---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Nosotros">
    <h1 class="text-3xl font-bold mb-4">Sobre Nosotros</h1>
    <p class="mb-2">
        En Coffee Shop, nos apasiona ofrecer el mejor café de la ciudad. Nuestro
        equipo está dedicado a seleccionar los granos más finos y prepararlos
        con cuidado para brindarte una experiencia inolvidable.
    </p>
</Layout>
